[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn="*"
tensorflow = "*"
pillow = "*"
tensorflow-addons = "*"
pydot = "*"
tqdm = "*"
matplotlib = "*"
parameterized = "*"
dragonfly-opt = "*"
cython = "*"
POT = "*"
ray = "*"
spektral = "*"
numpy = "*"

[requires]
python_version = "*"
